.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none !important;
}

.modal-box {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  max-width: 320px;
}

.modal-box.wide {
  max-width: 90%;
}